/* src/styles/main.scss */
$primary-color: #000000;
$black: black;
$yellow: #f6bc16;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', serif;
  background-color: $primary-color;
  color: white;
}
.macondo-regular {
  font-family: 'Macondo', cursive;
  font-weight: 400;
  font-style: normal;
}
.text-style-italic {
  font-family: Satoshi,sans-serif;
  font-style: italic;
  font-weight: 400;
}
.heading-style-h3 {
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;


  line-height: 1.2;
}
.active {
  background: #f6bc17;
  color: #000000;
  border-radius: 50px;
}
.navbar-container {
  width: fit-content;
  margin: auto;
  top: 60px;
  position: relative;
  border: solid 1px #323232;
  border-radius: 50px;

  backdrop-filter: blur(2px);
}

@media screen and (max-width: 569px) {
  .navbar-container {
    width: 100%;
    border: none;
    top: 10px;
  }
}
.background {
  background-image: url('../assets/futuristic-moon-background.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 82%;
  height: 77%;
  right: 50%;
  filter: brightness(0.5);
  z-index: -1;
  rotate: 34deg;
}
.home {
  width: 80%;
  margin: auto;
  margin-top: 10%;

  .logo-title {
    font-style: italic;

    font-weight: 700;

    span {
      color: black;
      -webkit-text-fill-color: rgba(132, 23, 23, 0);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      letter-spacing: 10px;
    }
  }
  .rotating-text-container {
    font-weight: bold;
    color: #757575;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @keyframes waveUp {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }

    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-30px);
      opacity: 0;
    }
  }

  .rotating-text {
    position: absolute;

    opacity: 0;

    animation: waveUp 3s ease-in-out forwards;
  }

  .rotate-svg {
    animation: rotate 15s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    100% {
      transform: rotate(360deg); /* Rotate to 360 degrees */
    }
  }
}
.Experts {
  background-image: url('../assets/skyImg.webp');
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    height: 150px;
  }
  .sidebar {
    height: fit-content;
    border-radius: 50px;
    width: 62%;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
}

.project-container {
  img {
    width: 1000px;
    height: auto;
  }
}

.service-card:hover {
  background-color: $yellow;
}
.contact {
  background-image: url(/src/assets/moon.webp);
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Vector 3 */

@media screen and (max-width: 320px) {
}
