/* src/styles/main.scss */
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
$primary-color: #000000;
$black: black;
$yellow: #f6bc16;
:root {
  --blue: #00f0ff;
  --violet: #8f00ff;
  --cyan: #00ffc3;
  --black: #0f0f0f;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', serif;
  background-color: $primary-color;
  color: white;
}
button{
  transition: 0.3s;
}
.macondo-regular {
  font-family: 'Macondo', cursive;
  font-weight: 400;
  font-style: normal;
}
.text-style-italic {
  font-family: Satoshi, sans-serif;
  font-style: italic;
  font-weight: 400;
}
.heading-style-h3 {
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.2;
}
.active {
  background: #f6bc17;
  color: #000000;
  border-radius: 50px;
}
.navbar-container {
  background: #00000014;
  width: fit-content;
  margin: auto;
  top: 60px;
  position: relative;
  border: solid 1px #ffffff5f;
  border-radius: 50px;

  backdrop-filter: blur(5px);
}
.navbar-postion-setup {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 99;
  top: 0;
}
@media screen and (max-width: 569px) {
  .navbar-container {
    width: 100%;
    border: none;
    top: 10px;
  }
}
.background {
  background-image: url('../assets/futuristic-moon-background.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 82%;
  height: 77%;
  right: 50%;
  filter: brightness(0.5);
  z-index: -1;
  rotate: 34deg;
}
.noise {
  background-image: url('../assets/newnoise.webp');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home {
  width: 80%;
  margin: auto;
  margin-top: 10%;

  .logo-title {
    font-style: italic;

    font-weight: 700;

    span {
      color: black;
      -webkit-text-fill-color: rgba(132, 23, 23, 0);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      letter-spacing: 10px;
    }
  }
  .rotating-text-container {
    font-weight: bold;
    color: #acacac;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .icon {
    fill: #b59aff !important;
  }

  @keyframes waveUp {
    0% {
      transform: translateY(30px);
      opacity: 0;
      filter: contrast(100%) blur(1px);

      color: #000;
    }
    40% {
      filter: none;
      color: white;
    }

    50% {
      transform: translateY(0);
      opacity: 1;
      letter-spacing: 1px;
    }
    80% {
      filter: contrast(900%) blur(1px);
      color: #acacac;
    }
    100% {
      transform: translateY(-30px);
      opacity: 0;
      filter: contrast(400%) blur(1px);
    }
  }

  .rotating-text {
    position: relative;

    opacity: 0;

    animation: waveUp 3s ease-in-out forwards;
  }

  .rotate-svg {
    animation: rotate 15s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    100% {
      transform: rotate(360deg); /* Rotate to 360 degrees */
    }
  }
}
.Experts {
  background-image: url('../assets/skyImg.webp');
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    height: fit-content;
  }
  .sidebar {
    height: fit-content;
    border-radius: 50px;
    width: 62%;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
}

.project-container {
  img {
    width: 1000px;
    height: auto;
  }
}

.service-card:hover {
  background-color: $yellow;
}
.contact {
  background-image: url(/src/assets/moon.webp);
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Vector 3 */

@media screen and (max-width: 320px) {
}

.grediant-img {
  filter: contrast(2.5) blur(100px);

  left: -24%;
  top: -3%;
}
.robot-container {
  border: solid 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
}

.bg-animation {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
}

.noise-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/newnoise.webp');
  background-repeat: repeat;
  opacity: 100%;
  pointer-events: none;
  z-index: 0;
}

$colors: 'red', 'blue', 'darkBlue', 'green', 'yellow', 'violet', 'cyan', 'black', 'orange', 'pink',
  'purple', 'brown', 'gray', 'teal', 'indigo', 'lime', 'navy', 'beige', 'mint', 'peach';

$color-vars: (
  'red': #ff4d4d,
  'blue': #4d8bff,
  'darkBlue': #3c158b,
  'green': #00cc99,
  'yellow': #ffcc00,
  'violet': #a343dc,
  'cyan': #00ffff,
  'black': #000000,
  'orange': #ff6600,
  'pink': #ff66b2,
  'purple': #800080,
  'brown': #8b4513,
  'gray': #808080,
  'teal': #008080,
  'indigo': #4b0082,
  'lime': #00ff00,
  'navy': #000080,
  'beige': #f5f5dc,
  'mint': #98ff98,
  'peach': #ffcc99,
);

$style-presets: (
  (
    size: 1800px,
    animation: 20s,
    blend: screen,
    opacity: 0.8,
    // Increased opacity to 0.8
  ),
  (
    size: 1900px,
    animation: 22s,
    blend: screen,
    opacity: 0.9,
    // Increased opacity to 0.9
  ),
  (
    size: 1950px,
    animation: 25s,
    blend: screen,
    opacity: 0.85,
    // Increased opacity to 0.85
  ),
  (
    size: 1000px,
    animation: 28s,
    blend: normal,
    opacity: 0.9,
    // Increased opacity to 0.9
  ),
  (
    size: 1700px,
    animation: 24s,
    blend: screen,
    opacity: 0.7,
    // Increased opacity to 0.7
  ),
  (
    size: 1950px,
    animation: 33s,
    blend: overlay,
    opacity: 0.75,
    // Increased opacity to 0.75
  ),
  (
    size: 1850px,
    animation: 26s,
    blend: screen,
    opacity: 0.8,
    // Increased opacity to 0.8
  ),
  (
    size: 1550px,
    animation: 39s,
    blend: normal,
    opacity: 0.6,
    // Increased opacity to 0.6
  ),
  (
    size: 1760px,
    animation: 27s,
    blend: normal,
    opacity: 0.65,
    // Increased opacity to 0.65
  ),
  (
    size: 1760px,
    animation: 16s,
    blend: normal,
    opacity: 0.7,
    // Increased opacity to 0.7
  ),
  (
    size: 1060px,
    animation: 38s,
    blend: normal,
    opacity: 0.75,
    // Increased opacity to 0.75
  ),
  (
    size: 1750px,
    animation: 25s,
    blend: normal,
    opacity: 0.8,
    // Increased opacity to 0.8
  ),
  (
    size: 2850px,
    animation: 14s,
    blend: normal,
    opacity: 0.85,
    // Increased opacity to 0.85
  ),
  (
    size: 1500px,
    animation: 30s,
    blend: normal,
    opacity: 0.9,
    // Increased opacity to 0.9
  ),
  (
    size: 1087px,
    animation: 13s,
    blend: normal,
    opacity: 0.8,
    // Increased opacity to 0.8
  ),
  (
    size: 1220px,
    animation: 22s,
    blend: normal,
    opacity: 0.75,
    // Increased opacity to 0.75
  ),
  (
    size: 1250px,
    animation: 36s,
    blend: normal,
    opacity: 0.7,
    // Increased opacity to 0.7
  ),
  (
    size: 1340px,
    animation: 14s,
    blend: normal,
    opacity: 0.85,
    // Increased opacity to 0.85
  ),
  (
    size: 1100px,
    animation: 21s,
    blend: normal,
    opacity: 0.9,
    // Increased opacity to 0.9
  )
);

.blob-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  pointer-events: none;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);

  transform: translate(0%, 0%);
}
@function random-vw() {
  @return random(100) * 1vw;
}

@function random-vh() {
  @return random(100) * 1vh;
}
@for $i from 1 through min(list.length($colors), list.length($style-presets)) {
  $color-name: list.nth($colors, $i);
  $color-val: map.get($color-vars, $color-name);
  $style: list.nth($style-presets, $i);

  .#{'' + $color-name} {
    @extend .blob;
    background-color: $color-val;
    width: map.get($style, size);
    height: map.get($style, size);
    animation: moveBlob#{$i} map.get($style, animation) infinite alternate;
    mix-blend-mode: map.get($style, blend);
    opacity: map.get($style, opacity);
  }

  @keyframes moveBlob#{$i} {
    0% {
      transform: translate(#{math.random() * 100}vw, #{math.random() * 100}vh) scale(1) rotate(0deg);
    }
    25% {
      transform: translate(#{math.random() * 100}vw, #{math.random() * 100}vh) scale(1.1)
        rotate(90deg);
    }
    50% {
      transform: translate(#{math.random() * 100}vw, #{math.random() * 100}vh) scale(1.1)
        rotate(180deg);
    }
    75% {
      transform: translate(#{math.random() * 100}vw, #{math.random() * 100}vh) scale(1.1)
        rotate(270deg);
    }
    100% {
      transform: translate(#{math.random() * 100}vw, #{math.random() * 100}vh) scale(1)
        rotate(360deg);
    }
  }
}

.text-desgin {
  display: flex;
  flex-direction: column;
  line-height: 0.6 !important;
  position: relative;
}

.contact-form-input {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
form input, textarea{
  background: transparent;
    border: none;
    border-bottom: solid 1px #505050;
    border-radius: 0;
}
form input, textarea:focus{
  outline: none;
  border-bottom: solid 1px #505050;
}

.contact-form-projectType button{
 background-color:#333;
 color: rgb(195, 194, 194);
 border: none;
 border-radius: 50px;
 padding:10px;
}
.contact-form-projectType button:focus{
  background-color: white;
  color: #000;
}
.contact-form-Budget label{
  background: #333;
    padding: 10px;
    color: #aeaeae;
    border-radius: 50px;
    position: relative;
}

.contact-form-Budget input{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -.3rem;
  position: absolute;
  inset: 0% auto 0% 0%;
}
@keyframes infiniteRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.infinite-rotate {
  animation: infiniteRotate 10s linear infinite;
}

.abu-profile{


}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 3s ease-in-out infinite;
}

/* You can use Tailwind or regular CSS */

 