/* src/styles/main.scss */
:root {
  --blue: #00f0ff;
  --violet: #8f00ff;
  --cyan: #00ffc3;
  --black: #0f0f0f;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', serif;
  background-color: #000000;
  color: white;
}

button {
  transition: 0.3s;
}

.macondo-regular {
  font-family: 'Macondo', cursive;
  font-weight: 400;
  font-style: normal;
}

.chilanka-regular {
  font-family: 'Chilanka', cursive;
  font-weight: 400;
  font-style: normal;
}

.baloo-chettan {
  font-family: 'Baloo Chettan 2', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.manjari-regular {
  font-family: 'Manjari', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-style-italic {
  font-family: Satoshi, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.heading-style-h3 {
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

.active {
  background: #f6bc17;
  color: #000000;
  border-radius: 50px;
}

.navbar-container {
  background: rgba(0, 0, 0, 0.0784313725);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  top: 60px;
  position: relative;
  border: solid 1px rgba(255, 255, 255, 0.3725490196);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.navbar-postion-setup {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 99;
  top: 0;
}

@media screen and (max-width: 569px) {
  .navbar-container {
    width: 100%;
    border: none;
    top: 10px;
  }
}
.background {
  background-image: url('../assets/futuristic-moon-background.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 82%;
  height: 77%;
  right: 50%;
  filter: brightness(0.5);
  z-index: -1;
  rotate: 34deg;
}

.noise {
  background-image: url('../assets/newnoise.webp');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home {
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
.home .logo-title {
  font-style: italic;
  font-weight: 700;
}
.home .logo-title span {
  color: black;
  -webkit-text-fill-color: rgba(132, 23, 23, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  letter-spacing: 10px;
}
.home .rotating-text-container {
  font-weight: bold;
  color: #acacac;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.home .icon {
  fill: #b59aff !important;
}
@keyframes waveUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
    filter: contrast(100%) blur(1px);
    color: #000;
  }
  40% {
    filter: none;
    color: white;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    letter-spacing: 1px;
  }
  80% {
    filter: contrast(900%) blur(1px);
    color: #acacac;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
    filter: contrast(400%) blur(1px);
  }
}
.home .rotating-text {
  position: relative;
  opacity: 0;
  animation: waveUp 3s ease-in-out forwards;
}
.home .rotate-svg {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}

.Experts {
  background-image: url('../assets/skyImg.webp');
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .navbar-container {
    height: -moz-fit-content;
    height: fit-content;
  }
  .sidebar {
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    width: 62%;
    background-color: transparent;
  }
}
.project-container img {
  width: 1000px;
  height: auto;
}

.service-card:hover {
  background-color: #f6bc16;
}

.contact {
  background-image: url(/src/assets/moon.webp);
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Vector 3 */
.grediant-img {
  filter: contrast(2.5) blur(100px);
  left: -24%;
  top: -3%;
}

.robot-container {
  border: solid 1px;
  border-color: hsla(0, 0%, 100%, 0.1);
}

.bg-animation {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
}

.noise-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/newnoise.webp');
  background-repeat: repeat;
  opacity: 100%;
  pointer-events: none;
  z-index: 0;
}

.blob-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  pointer-events: none;
}

.blob,
.mint,
.beige,
.navy,
.lime,
.indigo,
.teal,
.gray,
.brown,
.purple,
.pink,
.orange,
.black,
.cyan,
.violet,
.yellow,
.green,
.darkBlue,
.blue,
.red {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  transform: translate(0%, 0%);
}

.red {
  background-color: #ff4d4d;
  width: 1800px;
  height: 1800px;
  animation: moveBlob1 20s infinite alternate;
  mix-blend-mode: screen;
  opacity: 0.8;
}

@keyframes moveBlob1 {
  0% {
    transform: translate(7.400986638vw, 94.5769135699vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(39.7736134586vw, 49.4318236255vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(6.8773155455vw, 42.0273663723vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(54.5233839003vw, 38.0915344461vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(78.0065438546vw, 89.3915445962vh) scale(1) rotate(360deg);
  }
}
.blue {
  background-color: #4d8bff;
  width: 1900px;
  height: 1900px;
  animation: moveBlob2 22s infinite alternate;
  mix-blend-mode: screen;
  opacity: 0.9;
}

@keyframes moveBlob2 {
  0% {
    transform: translate(2.1039204308vw, 88.8098842061vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(11.8975278132vw, 69.2144906205vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(67.4924136843vw, 0.7130874388vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(33.300339811vw, 13.1268675188vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(96.0951627534vw, 42.0240847421vh) scale(1) rotate(360deg);
  }
}
.darkBlue {
  background-color: #3c158b;
  width: 1950px;
  height: 1950px;
  animation: moveBlob3 25s infinite alternate;
  mix-blend-mode: screen;
  opacity: 0.85;
}

@keyframes moveBlob3 {
  0% {
    transform: translate(7.8072715648vw, 95.9461637928vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(17.2423695331vw, 9.4315380603vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(97.4548793156vw, 55.7639054765vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(20.1810868495vw, 1.2686818066vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(78.3670183286vw, 17.8055527088vh) scale(1) rotate(360deg);
  }
}
.green {
  background-color: #00cc99;
  width: 1000px;
  height: 1000px;
  animation: moveBlob4 28s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.9;
}

@keyframes moveBlob4 {
  0% {
    transform: translate(86.2845827752vw, 91.2872907602vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(30.6763229821vw, 63.8468267529vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(78.5619633688vw, 94.984693512vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(16.7014725954vw, 19.2063559202vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(12.8474739864vw, 42.7325545195vh) scale(1) rotate(360deg);
  }
}
.yellow {
  background-color: #ffcc00;
  width: 1700px;
  height: 1700px;
  animation: moveBlob5 24s infinite alternate;
  mix-blend-mode: screen;
  opacity: 0.7;
}

@keyframes moveBlob5 {
  0% {
    transform: translate(23.3496106343vw, 98.2470880514vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(70.5378348398vw, 7.0442600685vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(85.8192978969vw, 47.2898207935vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(7.4299775865vw, 33.4231644684vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(19.9365074566vw, 53.4844271115vh) scale(1) rotate(360deg);
  }
}
.violet {
  background-color: #a343dc;
  width: 1950px;
  height: 1950px;
  animation: moveBlob6 33s infinite alternate;
  mix-blend-mode: overlay;
  opacity: 0.75;
}

@keyframes moveBlob6 {
  0% {
    transform: translate(2.8443908245vw, 65.1052427567vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(51.9388216122vw, 67.5293035219vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(79.1121588351vw, 29.2678853751vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(67.0135041652vw, 59.246974755vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(84.3143930647vw, 51.1876316505vh) scale(1) rotate(360deg);
  }
}
.cyan {
  background-color: #00ffff;
  width: 1850px;
  height: 1850px;
  animation: moveBlob7 26s infinite alternate;
  mix-blend-mode: screen;
  opacity: 0.8;
}

@keyframes moveBlob7 {
  0% {
    transform: translate(27.3451274094vw, 53.7125525181vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(27.7195279239vw, 23.7542027478vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(75.6944147868vw, 58.1703950597vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(85.9057373729vw, 94.6476547655vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(47.5842155734vw, 99.1285856042vh) scale(1) rotate(360deg);
  }
}
.black {
  background-color: #000000;
  width: 1550px;
  height: 1550px;
  animation: moveBlob8 39s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.6;
}

@keyframes moveBlob8 {
  0% {
    transform: translate(53.8104253451vw, 59.0513188242vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(13.5837463744vw, 34.1891311644vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(68.0770278969vw, 92.685140135vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(44.8253654759vw, 27.7019363559vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(33.9445160148vw, 62.3514599898vh) scale(1) rotate(360deg);
  }
}
.orange {
  background-color: #ff6600;
  width: 1760px;
  height: 1760px;
  animation: moveBlob9 27s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.65;
}

@keyframes moveBlob9 {
  0% {
    transform: translate(69.8940693341vw, 62.4134122542vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(95.9214788231vw, 66.8712706059vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(36.4205958095vw, 76.1083031471vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(60.2900984576vw, 88.9491645249vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(75.6437745076vw, 76.6218054208vh) scale(1) rotate(360deg);
  }
}
.pink {
  background-color: #ff66b2;
  width: 1760px;
  height: 1760px;
  animation: moveBlob10 16s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.7;
}

@keyframes moveBlob10 {
  0% {
    transform: translate(51.5847198338vw, 39.599570979vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(41.3045827729vw, 86.5985729418vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(24.114197945vw, 9.5797177659vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(70.4407163622vw, 37.5748014491vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(85.7922918989vw, 16.4192744343vh) scale(1) rotate(360deg);
  }
}
.purple {
  background-color: #800080;
  width: 1060px;
  height: 1060px;
  animation: moveBlob11 38s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.75;
}

@keyframes moveBlob11 {
  0% {
    transform: translate(88.908197292vw, 67.3545666027vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(78.7328544295vw, 82.1402039212vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(85.3033394395vw, 82.4533445389vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(47.6227335921vw, 39.4765950713vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(82.7562071031vw, 87.0327640372vh) scale(1) rotate(360deg);
  }
}
.brown {
  background-color: #8b4513;
  width: 1750px;
  height: 1750px;
  animation: moveBlob12 25s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@keyframes moveBlob12 {
  0% {
    transform: translate(48.6615493979vw, 69.7396738003vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(20.2316163953vw, 69.496574284vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(5.9288925052vw, 52.127411762vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(68.0297272498vw, 42.4943957298vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(90.1169197804vw, 2.3032732132vh) scale(1) rotate(360deg);
  }
}
.gray {
  background-color: #808080;
  width: 2850px;
  height: 2850px;
  animation: moveBlob13 14s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.85;
}

@keyframes moveBlob13 {
  0% {
    transform: translate(92.9792412133vw, 12.7981100076vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(79.1752459695vw, 98.4725724159vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(41.2623330498vw, 9.7200817118vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(71.1884114654vw, 76.3977697717vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(94.8812428541vw, 69.7599830056vh) scale(1) rotate(360deg);
  }
}
.teal {
  background-color: #008080;
  width: 1500px;
  height: 1500px;
  animation: moveBlob14 30s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.9;
}

@keyframes moveBlob14 {
  0% {
    transform: translate(35.1749474898vw, 47.2395890819vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(89.6939370547vw, 90.3898176778vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(92.0947779543vw, 7.9926263921vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(90.1815187841vw, 82.8355926387vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(39.276246278vw, 86.1003568821vh) scale(1) rotate(360deg);
  }
}
.indigo {
  background-color: #4b0082;
  width: 1087px;
  height: 1087px;
  animation: moveBlob15 13s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@keyframes moveBlob15 {
  0% {
    transform: translate(2.6746623576vw, 35.4428593337vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(23.8803551185vw, 1.0409283081vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(85.9002338925vw, 8.9167453171vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(48.0754579488vw, 67.950698743vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(14.3302672676vw, 69.8585537985vh) scale(1) rotate(360deg);
  }
}
.lime {
  background-color: #00ff00;
  width: 1220px;
  height: 1220px;
  animation: moveBlob16 22s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.75;
}

@keyframes moveBlob16 {
  0% {
    transform: translate(64.8362722966vw, 27.6215735335vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(99.84996453vw, 37.6334649272vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(94.3357757623vw, 53.5014283782vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(98.0329932411vw, 1.5065603823vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(71.4684285151vw, 26.0215516995vh) scale(1) rotate(360deg);
  }
}
.navy {
  background-color: #000080;
  width: 1250px;
  height: 1250px;
  animation: moveBlob17 36s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.7;
}

@keyframes moveBlob17 {
  0% {
    transform: translate(11.8369792789vw, 69.2420372331vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(6.3017218924vw, 61.427679478vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(98.3903701653vw, 39.6535096944vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(84.7985608763vw, 85.8966994776vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(23.9352375136vw, 2.8442488014vh) scale(1) rotate(360deg);
  }
}
.beige {
  background-color: #f5f5dc;
  width: 1340px;
  height: 1340px;
  animation: moveBlob18 14s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.85;
}

@keyframes moveBlob18 {
  0% {
    transform: translate(20.5061432417vw, 9.1913142275vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(42.026248967vw, 28.0333427629vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(9.5672989344vw, 28.8975129965vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(26.7847547813vw, 23.0357434403vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(35.4171174003vw, 82.8073704468vh) scale(1) rotate(360deg);
  }
}
.mint {
  background-color: #98ff98;
  width: 1100px;
  height: 1100px;
  animation: moveBlob19 21s infinite alternate;
  mix-blend-mode: normal;
  opacity: 0.9;
}

@keyframes moveBlob19 {
  0% {
    transform: translate(63.2434968161vw, 65.4912341104vh) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(32.5760046562vw, 17.43622834vh) scale(1.1) rotate(90deg);
  }
  50% {
    transform: translate(14.3438024211vw, 2.7887232239vh) scale(1.1) rotate(180deg);
  }
  75% {
    transform: translate(28.7129928406vw, 48.4125400568vh) scale(1.1) rotate(270deg);
  }
  100% {
    transform: translate(44.5926457772vw, 10.6254705672vh) scale(1) rotate(360deg);
  }
}
.text-desgin {
  display: flex;
  flex-direction: column;
  line-height: 0.6 !important;
  position: relative;
}

.contact-form-input {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

form input,
textarea {
  background: transparent;
  border: none;
  border-bottom: solid 1px #505050;
  border-radius: 0;
}

form input,
textarea:focus {
  outline: none;
  border-bottom: solid 1px #505050;
}

.contact-form-projectType button {
  background-color: #333;
  color: rgb(195, 194, 194);
  border: none;
  border-radius: 50px;
  padding: 10px;
}

.contact-form-projectType button:focus {
  background-color: white;
  color: #000;
}

.contact-form-Budget label {
  background: #333;
  padding: 10px;
  color: #aeaeae;
  border-radius: 50px;
  position: relative;
}

.contact-form-Budget input {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -0.3rem;
  position: absolute;
  inset: 0% auto 0% 0%;
}

@keyframes infiniteRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.infinite-rotate {
  animation: infiniteRotate 10s linear infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.floating {
  animation: floating 3s ease-in-out infinite;
}

/* You can use Tailwind or regular CSS */
.blog img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 20rem;
  display: block;
}

.sliderContainer {
  position: absolute;
  top: calc(100vh - 350px);
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.services-sm-list {
  padding: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.services-sm-list li {
  margin-block: 10px;
  border-bottom: solid 1px gray;
  padding: 10px;
  color: #919191;
} /*# sourceMappingURL=main.css.map */
